* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;

}

body {
    font-family: "Open Sans", sans-serif;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgb(237, 237, 237);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f5f9;
    min-height: 105vh;
}

.sideBar {
    width: 250px;
    box-shadow: 0px 0px 15px #ddd;
    position: relative;
}

.sideBar h3 {
    margin-bottom: 35px;
}

.sideBar h3::before,
.sideBar h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;

}

.sideBar h3::before {
    height: 2px;
    width: 90px;
    top: 38px;
}

.sideBar h3::after {

    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 3px solid white;
    top: 30px;
}

.sideBar ul li a {
    transition: 0.5s;
    margin-bottom: 8px;
}

.sideBar ul li a.active,
.sideBar ul li a:hover {
    background-color: #f1f5f9;
}

.sideBar ul li a span {
    margin-left: 14px;
}

@media (max-width:767px) {
    .sideBar {
        width: 80px;
    }

    .sideBar h3 {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .sideBar ul li a span {
        display: none;
    }

    .sideBar h3::before,
    .sideBar h3::after {
        display: none;
    }

}

/* start .contanet */
.contanet {
    width: 100%;
    overflow: hidden;
}

.head {
    background-color: white;
}

.head .search {
    margin-left: 8px;
}

.head .search::before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 48%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
    z-index: 1;
}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 150px;
    outline: none;
    transition: 0.3s;
    padding-left: 30px;
}

.head .search input:focus {
    width: 200px;

}

.head .search input:focus::placeholder {
    opacity: 0;
}

.notfications img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    padding: 2px;
}

.notfications .bill::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    left: 14px;
    bottom: 16px;
}

.page h1 {
    padding: 10px;
    margin-left: 14px;
    margin-top: 10px;

}

.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 5px;
    left: 14px;
    top: 60px;
}

.page h1::before {
    background-color: white;
    width: 120px;
}

.page h1::after {
    background-color: black;
    width: 80px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;


}

@media (max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

/* end contanet */

/* start welcome */

.welcome .intro img {
    width: 250px;
}

.avatar {
    width: 65px;
    height: 65px;
    border: 3px solid white;
    padding: 3px;
    border-radius: 50%;
    margin-left: 26px;
    margin-top: -28px;

}

.body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 20px auto;
    transition: 0.3;
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width:767px) {

    .welcome .intro img {
        display: none;
    }

    .intro {
        height: 140px;
    }

    .body div span {
        margin-top: 3px;
    }

    .body>div:not(:last-child) {
        margin-bottom: 20px;
    }

}

/* end weclome*/
/* start Quick Draft Widget */
.Quick-Draft form textarea {
    min-height: 150px;
}

.Quick-Draft form .save {
    margin-left: auto;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.Quick-Draft form .save:hover {
    background-color: var(--blue-alt-color);
}

/* end Quick Draft Widget */

/* start target */
.Targets .target-row .icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
}

.Targets .details {
    flex: 1;
    margin-top: -8px;
}

.Targets .target-row .progress {
    height: 4px;
    border-radius: 5px;
}

.Targets .target-row .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 5px;
}

.Targets .target-row .progress>span span {
    position: absolute;
    border-radius: 5px;
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    top: -35px;
    right: -15px;
}

.Targets .target-row .progress>span span::before {
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-top-color: var(--blue-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

.Targets .target-row .progress>span .orange::before {
    border-top-color: var(--orange-color);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

.Targets .target-row .progress>span .green::before {
    border-top-color: var(--green-color);
}

/* end target */

/* start tickets */
.Tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width:767px) {
    .Tickets .box {
        width: 100%;
    }
}

/* end tickets */

/* start latest news */
.latest-news .card:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.latest-news img {
    width: 110px;
    border-radius: 10px;
}

.latest-news .news-btn {
    background-color: #ccc;
    height: 30px;
    padding: 5px 8px;
    text-align: center;
    border-radius: 8px;
}

.latest-news .text-news {
    flex-grow: 1;
}

@media (max-width:767px) {
    .latest-news .card {
        display: block;
        text-align: center;
    }

    .latest-news .news-btn {
        margin-left: 0;
    }
}

/* end latest news */

/* start latest tasks*/
.Latest-Tasks>div {
    border-radius: 22px;
    border: 2px solid #ccc;
    padding: 10px;
}

.Latest-Tasks .info-Tasks {
    flex-grow: 1;
}

.Latest-Tasks i:hover {
    color: red;
    transition: 0.3s ease;
}

.Latest-Tasks .active {
    color: #ddd;
}

.Latest-Tasks .active h3,
.Latest-Tasks .active p {
    text-decoration: line-through;
}

/* end latest tasks*/

/* start latest-upload*/
.latest-Uploads .file-exe img {
    width: 40px;
}

.latest-Uploads>div:not(:last-of-type) {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/* end latest-upload*/
/* start last project progress */
.last_progress ul::before {
    content: "";
    position: absolute;
    width: 2px;
    left: 12px;
    height: 100%;
    background-color: var(--blue-color);

}

.last_progress ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.last_progress ul li.done::before {
    background-color: var(--blue-color);
}

.last_progress ul li.active::before {
    animation: change 0.9s infinite alternate;
}

@keyframes change {
    form {
        background-color: white;
    }

    to {
        background-color: var(--blue-color);
    }
}

.last_progress img {
    position: absolute;
    right: 8px;
    bottom: 12px;
    width: 180px;

}

@media (max-width:767px) {
    .last_progress img {
        display: none;
    }
}

/* end last project progress */
/* start reminder*/

.reminder ul li .key {
    width: 15px;
    height: 15px;
}

.reminder ul li>.blue {
    border-left: 2px solid var(--blue-color);
}

.reminder ul li>.green {
    border-left: 2px solid var(--green-color);
}

.reminder ul li>.orange {
    border-left: 2px solid var(--orange-color);
}

.reminder ul li>.red {
    border-left: 2px solid var(--red-color);
}

/* end reminder */
/* start Latest Post */
.latest_post .photo-info {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.latest_post .photo-info img {
    width: 50px;
    margin-right: 16px;
}

.latest_post .article {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 1.8;
}

@media (max-width:767px) {
    .latest_post .photo-info img {
        width: 45px;
        height: 45px;
        display: flex;

    }
}

/* end Latest Post */
/* start social media stats*/

.social .box {
    border-radius: 15px;
}

.social .box i {
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px;
    border-radius: 15px;
    width: 52px;
}

.social .box i:hover {
    scale: 1.05;
    transition: 0.3s ease;
}

.social .box .followersnum {
    flex: 1;
    margin-left: 60px;
    height: 55px;
    display: flex;
    align-items: center;
}

.social a {
    margin-right: 10px;
}

.social a:hover {
    scale: 1.05;
    transition: 0.3s ease;
}

.social .twitter {
    background-color: rgb(29 161 242 / 20%);
}

.social .twitter i {
    background-color: #1da1f2;

}

.social .twitter a {
    background-color: #1da1f2;

}

.social .facebook {
    background-color: rgb(24 119 242 / 20%);
}

.social .facebook i {
    background-color: #1877f2;

}

.social .facebook a {
    background-color: #1877f2;

}

.social .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.social .youtube i {
    background-color: #ff0000;
    display: flex;
}

.social .youtube a {
    background-color: #ff0000;
}

.social .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}

.social .linkedin i {
    background-color: #0077b5;
    display: flex;
}

.social .linkedin a {
    background-color: #0077b5;
}

@media (max-width:321px) {
    .btn-shape {
        padding: 2px;
        border-radius: 5px;

    }
}

/* end social media stats*/

/* start table*/
.projects .respnsive-table {
    overflow-x: auto;
}

.projects table {
    min-width: 1000px;
    border-spacing: 0;
}

table thead td {
    background-color: #ccc;
    padding: 10px;
    font-weight: bold;
}

table thead td:first-child {
    border-radius: 10px 0px 0px;
}

table thead td:last-child {
    border-radius: 0px 10px 0px 0px;

}

.projects tbody td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: 0.3s;
}

.projects tbody tr td:last-child {
    border-right: 1px solid #eee;
}

.projects tbody tr:hover td {
    background-color: #faf7f7;
}

.projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.projects table img:not(:first-child) {
    margin-left: -20px;
}

.projects table .label {
    font-size: 13px;
}

/* end table*/
/* start settings*/
.settings {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

@media(max-width:767px) {
    .settings {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.close-message {
    height: 200px;
    border: 1px solid #ccc;
    resize: none;
}

/* toggle styling*/
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
}

.toggle-switch {
    background-color: #ccc;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.toggle-switch::before {
    content: "";
    position: absolute;
    background-color: #eee;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    top: 3px;
    left: 4px;
    transition: 0.3s;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    left: 42px
}

/* end toggle styling*/

/* start General Info*/

.General-Info label {
    margin-left: 4px;
}

.General-Info input {
    border: 1px solid #d7d7d7;
}

.General-Info .c-email {
    display: inline-flex;
    width: calc(100% - 90px);
    background-color: #e9e8e8;
}

/* end General Info*/

/* start security-info */
.Security-Info .pass:not(:last-of-type) {
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

/* end security-info */

/* start social info */


.social-info div input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
}

.social-info div i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social-info>div:focus-within i {
    color: black;
}

/* end social info */

/* start widgets control */
.Widgets-Control .control label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

.Widgets-Control .control label::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
    left: 0;
    border-radius: 4px;
    top: 50%;
    margin-top: -9px;
}

.Widgets-Control .control label::after {
    content: "";
    position: absolute;
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    border-radius: 4px;
    left: 0;
    top: 50%;
    margin-top: -9px;
    background-color: var(--blue-color);
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.3s;
    color: white;
}

.Widgets-Control .control input[type="checkbox"] {
    appearance: none;

}

.Widgets-Control .control input[type="checkbox"]:checked+label::after {
    transform: scale(1);

}

/* end widgets control */
/* start backup manager*/
.backup-control input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}

.backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}

.backup-control .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
}

.backup-control .date label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 12px;
    height: 12px;
    background: var(--blue-color);
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
}

.backup-control .date input[type="radio"]:checked+label::before {
    border-color: var(--blue-color);
}

.backup-control .date input[type="radio"]:checked+label::after {
    transform: scale(1);
}

.backup-control .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
    gap: 5px;
}

@media (max-width: 767px) {
    .backup-control .servers {
        flex-wrap: wrap;
    }
}

.backup-control .servers .server {
    border: 2px solid #eee;
    position: relative;
}

.backup-control .servers .server label {
    cursor: pointer;
}

.backup-control .servers input[type="radio"]:checked+.server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}

/* end backup manager*/

/* end settings*/
/* start profile */

.overview {
    margin-left: 15px;
    margin-right: 15px;
}

@media (min-width:768px) {

    .overview .avatar-box {
        width: 300px;
        border-right: 1px solid #eee;
    }
}

.overview .avatar-box img {
    width: 120px;
}

.overview .avatar-box .level {
    width: 150px;
    height: 6px;
    margin: 10px auto;

}

.overview .avatar-box .level span {
    content: "";
    position: absolute;
    background-color: var(--blue-color);
    height: 100%;
    border-radius: 6px;
    left: 0;
}

@media (max-width:767px) {
    .overview {
        flex-direction: column;

        margin-left: 10px;
        margin-right: 10px;


    }

}

.info .box {
    flex-wrap: wrap;
    transition: 0.3s;

}

.info .box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.info .box:hover {
    background-color: #f9f9f9;
}

.info .box>div {
    min-width: 240px;
    padding: 10px 0px;
}

@media (max-width:767px) {
    .info .box {
        padding: 5px;
    }

    .info .box>div {
        min-width: 120px;
        padding: 6px 0px;
    }

    .info .toggle-switch {
        margin: auto;
    }
}

.info .box h4 {
    font-weight: normal;
}

.info .box .toggle-checkbox:checked+.toggle-switch::before {
    left: 52px;
}

.info .toggle-switch {
    width: 70px;
    height: 20px;

}

.info .box .toggle-switch::before {
    width: 14px;
    height: 14px;
    top: 3px;
}

.other-data {
    margin: 15px;
}

.skills-card {
    flex-grow: 1;
}

.other-data .skills-card ul li {
    margin-bottom: 18px;
    padding: 15px 0;
}

.other-data .skills-card ul li:not(:last-of-type) {
    border-bottom: 1px solid #e1e1e1;

}

.other-data .skills-card ul li span {
    background-color: #eee;
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
}

.skills-card ul li span:not(:last-child) {
    margin-right: 8px;
}

.activities {
    flex-grow: 2;
}

@media (max-width:767px) {
    .other-data {
        flex-direction: column;
        margin: 10px;

    }
}

.activities .activity img {
    width: 70px;
    margin-right: 12px;
}

.activities .activity:not(:last-of-type) {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

@media (min-width: 768px) {
    .activity .date {
        margin-left: auto;
        text-align: right;
    }
}

@media (max-width:767px) {
    .activities .activity {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .activities .activity img {
        width: 60px;
        margin: auto;
    }
}

/* end profile*/


/* start projects */
.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width:767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.projects-page .project .date {
    position: absolute;
    right: 16px;
    top: 10px;
}

.projects-page .project .team {
    position: relative;
    min-height: 80px;
}

.projects-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.projects-page .project .team a:nth-child(2) {
    left: 25px;
}

.projects-page .project .team a:nth-child(3) {
    left: 50px;
}

.projects-page .project .team a:nth-child(4) {
    left: 75px;
}

.projects-page .project .team a:nth-child(5) {
    left: 100px;
}

.projects-page .project .team a:hover {
    z-index: 100;
}

.projects-page .project .team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.projects-page .project h4 {
    font-size: normal;
}

.projects-page .project .do {
    justify-content: flex-end;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px;

}

@media (max-width: 767px) {
    .projects-page .project .do {
        flex-direction: column;
    }
}

.projects-page .project .do span {
    padding: 10px 4px;
    margin-right: 5px;
    width: fit-content;
}

@media (max-width: 767px) {
    .projects-page .project .do span:not(:last-child) {
        margin-bottom: 15px;
    }
}

.projects-page .project .info .prog {
    width: 50%;
    height: 6px;
    margin: 15px 0px;
    border-radius: 6px;

}

.projects-page .project .info .prog span {
    content: "";
    position: absolute;
    height: 100%;
    border-radius: 6px;
    left: 0;
}

/*end projects */

.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.courses-page .course .cover {
    width: 100%;
    border-radius: 20px;
}

.courses-page .course .instructor {
    position: absolute;
    width: 65px;
    border-radius: 50%;
    left: 16px;
    top: 15px;
    border: 3px solid white;

}

.courses-page .course .text p {
    line-height: 25px;
}

.courses-page .course .course-info {
    border-top: 1px solid #eee;
    font-size: 13px;
}

.courses-page .course .course-info .title {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
}

.courses-page .course .course-info .numbers {
    margin-top: 10px;
}

@media (max-width:767px) {
    .courses-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .courses-page .course .instructor {
        width: 60px;
    }

    .courses-page .course .text h3 {
        font-size: 15px;
    }

    .courses-page .course .text p {
        line-height: 22px;
        margin-top: 10px;
        font-size: 14px;
    }
}


.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.friends-page .friend .contact i {
    color: gray;
    padding: 12px;
    background-color: #eee;
    border-radius: 50%;
    font-size: 14px;
    transition: 0.3s;
}

.friends-page .friend .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}

.friends-page .friend .photo {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.friends-page .friend .photo img {
    width: 120px;
}

.friends-page .friend .icons {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.friends-page .friend .icons .vip {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 32px;
    opacity: 0.5;
}
.files-page{
    flex-direction:row-reverse ;
    align-items: flex-start;
}
@media (max-width:767px){
    .files-page{
        flex-direction:column ;
        align-items: normal;
    }
}
.files-page .files-stats {
    min-width: 260px;
}

.files-page .files-stats .icon {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}


.files-page .files-stats .size {
    margin-left: auto;
}

.files-page .files-stats .blue {
    background-color: rgb(0 117 255 / 20%);
}

.files-page .files-stats .green {
    background-color: rgb(34 197 94 / 20%);
}

.files-page .files-stats .red {
    background-color: rgb(244 67 54 / 20%);
}

.files-page .files-stats .orange {
    background-color: rgb(245 158 11 / 20%);
}

.files-page .files-stats .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
    transition: 0.3s;
}

.files-page .files-stats .upload:hover {
    background-color: var(--blue-alt-color);
}

.files-page .files-stats .upload:hover i {
    animation: go-up 0.8s infinite;
}
@keyframes  go-up{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);

    }
    100%{
        transform: translateY(0);
    }
}
@media (max-width:767px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.files-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content img {
    width: 64px;
    height: 64px;
    transition: 0.3s;
}
.files-page .files-content .file:hover img {
    transform: rotate(5deg);
}
.files-page .files-content .info {
    border-top: 1px solid #eee;
}